@use "@/styles/variables" as *;



.header {
    background-color: $brown-header;
    
    .inner {
        
        max-width: $container-lg;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $space-lg $space-lg;
        
        h1 {
            width: 136px;
        }
        .right {
            display: flex;
            align-items: center;
            
            ul{
                
                display: flex;
            }

            .logout-btn {
                border: 1px solid #fff;
            }
        }
    }
}